USE [master]
GO
/****** Object:  Database [iLunaticTP]    Script Date: 22/12/2025 12:49:04 ******/
CREATE DATABASE [iLunaticTP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'iLunatic.apple', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\iLunatic.apple.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'iLunatic.apple_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\iLunatic.apple_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iLunaticTP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iLunaticTP]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[idCategoria] [int] NOT NULL,
	[descripcion] [nvarchar](50) NULL,
	[esActivo] [nvarchar](2) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] NOT NULL,
	[documento] [nvarchar](8) NULL,
	[nombreCompleto] [nvarchar](50) NULL,
	[correo] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[estado] [nvarchar](2) NULL,
	[fechaCreacion] [date] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[idCompra] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NULL,
	[idProveedor] [int] NULL,
	[tipoDocumento] [nvarchar](50) NULL,
	[nroDocumento] [nvarchar](8) NULL,
	[total] [float] NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[idPermiso] [int] NOT NULL,
	[idRol] [int] NULL,
	[nombreMenu] [nvarchar](50) NULL,
	[fechaRegistro] [date] NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[idProducto] [int] NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[idCategoria] [int] NULL,
	[stock] [int] NULL,
	[precio] [float] NULL,
	[esActivo] [nvarchar](2) NULL,
	[fechaRegistro] [datetime] NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[idProveedor] [int] NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[nroDocumento] [nvarchar](8) NULL,
	[razonSocial] [nvarchar](100) NULL,
	[correo] [nvarchar](40) NULL,
	[telefono] [nvarchar](40) NULL,
	[estado] [nvarchar](2) NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NULL,
	[esActivo] [nvarchar](2) NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreApellidos] [nvarchar](100) NULL,
	[correo] [nvarchar](40) NULL,
	[idRol] [int] NULL,
	[clave] [varchar](40) NULL,
	[esActivo] [nvarchar](2) NULL,
	[dni] [nvarchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] NULL,
	[nombreApellidos] [nvarchar](100) NULL,
	[correo] [nvarchar](40) NULL,
	[idRol] [int] NULL,
	[clave] [nvarchar](40) NULL,
	[esActivo] [nvarchar](2) NULL,
	[dni] [nvarchar](8) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[idVenta] [int] NOT NULL,
	[numeroDocumento] [nvarchar](8) NULL,
	[tipoPago] [nvarchar](50) NULL,
	[fechaRegistro] [datetime] NULL,
	[total] [float] NULL,
	[idCliente] [int] NULL,
	[idProducto] [int] NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  CONSTRAINT [DF_esActivo]  DEFAULT ('Si') FOR [esActivo]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF__Cliente_T__estad__17036CC0]  DEFAULT ('Si') FOR [estado]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF__Productos__esAct__7B5B524B]  DEFAULT ('Si') FOR [esActivo]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ('Si') FOR [estado]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_esActivo]  DEFAULT ('Si') FOR [esActivo]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Proveedor]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Usuario]
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Permiso] CHECK CONSTRAINT [FK_Permiso_Rol]
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Usuario] FOREIGN KEY([idRol])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Permiso] CHECK CONSTRAINT [FK_Permiso_Usuario]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categorias] ([idCategoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Cliente]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Productos1] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Productos] ([idProducto])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Productos1]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarStock]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ActualizarStock]
	 @idProducto INT,
    @cantidad INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Productos
    SET Stock = Stock - @cantidad
    WHERE idProducto = @idProducto

	SELECT @@ROWCOUNT AS FilasAfectadas;
END
GO
/****** Object:  StoredProcedure [dbo].[AddCategoria]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddCategoria]
	@descripcion nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @idCategoria INT;

	SELECT @idCategoria = COALESCE(MAX(idCategoria), 0) + 1 
	FROM Categorias;

	INSERT INTO Categorias (idCategoria, descripcion)
	VALUES (@idCategoria, @descripcion);

END
GO
/****** Object:  StoredProcedure [dbo].[AddCliente]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddCliente]
    @documento NVARCHAR(8),
    @nombreCompleto NVARCHAR(50),
    @correo NVARCHAR(50),
    @telefono NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @idCliente INT;

    SELECT @idCliente = COALESCE(MAX(idCliente), 0) + 1
    FROM Cliente;

    INSERT INTO Cliente (idCliente, documento, nombreCompleto, correo, telefono)
    VALUES (@idCliente, @documento, @nombreCompleto, @correo, @telefono);
END
GO
/****** Object:  StoredProcedure [dbo].[AddProducto]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddProducto]
    @nombre NVARCHAR(100),
    @idCategoria INT,
	@precio float,
    @stock INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Productos WHERE nombre = @nombre)
    BEGIN
        RAISERROR ('Ya existe un producto con este nombre.', 16, 1);
        RETURN;
    END

    DECLARE @idProducto INT;

    SELECT @idProducto = COALESCE(MAX(idProducto), 0) + 1 
    FROM Productos;

    INSERT INTO Productos (idProducto, nombre, idCategoria, stock, precio) 
    VALUES (@idProducto, @nombre, @idCategoria, @stock, @precio);
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarProveedor]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarProveedor]
    @nombre NVARCHAR(50),
    @nroDocumento NVARCHAR(8),
    @razonSocial NVARCHAR(100),
    @correo NVARCHAR(40),
    @telefono NVARCHAR(40)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @idProveedor INT;

    SELECT @idProveedor = COALESCE(MAX(idProveedor), 0) + 1 FROM Proveedor;

    INSERT INTO Proveedor (idProveedor, nombre, nroDocumento, razonSocial, correo, telefono)
    VALUES (@idProveedor, @nombre, @nroDocumento, @razonSocial, @correo, @telefono);
END
GO
/****** Object:  StoredProcedure [dbo].[AltaUsuario]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AltaUsuario]
 @nombreApellidos nvarchar(100),
 @dni nvarchar(8),
 @correo nvarchar(40),
 @idRol int,
 @clave nvarchar(40)
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @idUsuario INT;

    SELECT @idUsuario = COALESCE(MAX(idUsuario), 0) + 1
    FROM Usuarios;

INSERT INTO Usuarios (idUsuario, nombreApellidos, dni,  correo, idRol, clave)
	VALUES (@idUsuario, @nombreApellidos, @dni, @correo, @idRol,@clave)
END
GO
/****** Object:  StoredProcedure [dbo].[AltaVentas]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaVentas]
    @numeroDocumento NVARCHAR(8),
    @tipoPago NVARCHAR(50),
    @total FLOAT,
    @fechaRegistro DATETIME,
	@idCliente int,
    @idProducto INT,          -- Añadimos el ID del producto para verificar el stock
    @cantidad INT             -- La cantidad de productos a vender
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @idVenta INT;
    DECLARE @stockActual INT;

    -- Verificar el stock actual del producto
    SELECT @stockActual = stock 
    FROM Productos 
    WHERE idProducto = @idProducto;

    -- Validar si hay suficiente stock
    IF @stockActual < @cantidad
    BEGIN
        -- Si no hay suficiente stock, lanzar un error
        RAISERROR ('Stock insuficiente para el producto.', 16, 1);
        RETURN;
    END

    -- Calcular el próximo idVenta
    SELECT @idVenta = COALESCE(MAX(idVenta), 0) + 1
    FROM Ventas;

    -- Insertar la venta
    INSERT INTO Ventas (idVenta, numeroDocumento, tipoPago, total, fechaRegistro, cantidad, idCliente, idProducto) 
    VALUES (@idVenta, @numeroDocumento, @tipoPago, @total, @fechaRegistro, @cantidad, @idCliente, @idProducto);

    -- Actualizar el stock del producto
    UPDATE Productos
    SET stock = stock - @cantidad
    WHERE idProducto = @idProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[BorrarProveedor]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[BorrarProveedor]
@idProveedor int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

delete Proveedor where idProveedor = @idProveedor
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarCategoria]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarCategoria]
 @idCategoria int
AS
BEGIN
	SET NOCOUNT ON;
	DELETE Categorias WHERE idCategoria = @idCategoria
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarCliente]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarCliente]
@idCliente int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Delete Cliente Where idCliente = @idCliente
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProducto]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarProducto]
@idProducto int
AS
BEGIN

	SET NOCOUNT ON;

    DELETE from Productos WHERE idProducto = @idProducto
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarUsuario]
	@idUsuario int
AS
BEGIN
	SET NOCOUNT ON;
	DELETE Usuarios WHERE idUsuario = @idUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[ListarCategorias]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarCategorias]
AS
BEGIN
	SET NOCOUNT ON;
Select * from Categorias
END
GO
/****** Object:  StoredProcedure [dbo].[ListarCliente]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[ListarCliente]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select * from Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[ListarProductos]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarProductos]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
select * from Productos
END
GO
/****** Object:  StoredProcedure [dbo].[ListarProveedores]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ListarProveedores]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   Select * from Proveedor
END
GO
/****** Object:  StoredProcedure [dbo].[ListarRoles]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarRoles]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

select * from Rol
END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarUsuarios]

AS
BEGIN

	SET NOCOUNT ON;
	select * from Usuarios
END
GO
/****** Object:  StoredProcedure [dbo].[ListarVentas]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ListarVentas]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select * from Ventas
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarCategoria]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificarCategoria]
	@idCategoria int,
	@descripcion nvarchar(50),
	@esActivo nvarchar(2)
AS
BEGIN
	SET NOCOUNT ON;
	Update Categorias 
	set descripcion = @descripcion,
	esActivo = @esActivo
	where idCategoria = @idCategoria
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarCliente]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarCliente]
 @idCliente int,
  @documento nvarchar(8),
  @nombreCompleto nvarchar(50),
  @correo nvarchar(50),
  @telefono nvarchar(50),
  @estado nvarchar(2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE Cliente SET
	documento = @documento,
	nombreCompleto = @nombreCompleto,
	correo = @correo,
	telefono = @telefono,
	estado = @estado
	WHERE idCliente = @idCliente
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarProducto]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificarProducto]
	@idProducto int,
	@nombre nvarchar(100),
	@idCategoria int,
	@stock int,
	@precio float,
	@esActivo nvarchar(2)
AS
BEGIN

	SET NOCOUNT ON;
	UPDATE Productos SET
	nombre = @nombre,
	idCategoria = @idCategoria,
	stock = @stock,
	precio = @precio,
	esActivo = @esActivo
	WHERE idProducto = @idProducto
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarProveedor]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarProveedor]
@idProveedor int,
	@nombre nvarchar(50),
	@nroDocumento nvarchar(8),
	@razonSocial nvarchar(100),
	@correo nvarchar(40),
	@telefono nvarchar(40),
	@estado nvarchar(2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   Update Proveedor set
   nombre = @nombre,
   nroDocumento = @nroDocumento,
   razonSocial = @razonSocial,
   correo = @correo,
   telefono = @telefono,
   estado = @estado where idProveedor = @idProveedor
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificarUsuario]
	@idUsuario int,
	@nombreApellidos nvarchar(100),
	@correo nvarchar(40),
	@idRol int,
	@clave nvarchar(40),
	@esActivo nvarchar(2)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE Usuarios 
	SET nombreApellidos = @nombreApellidos,
	correo = @correo,
	idRol = @idRol,
	clave = @clave,
	esActivo = @esActivo
	WHERE idUsuario = @idUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerClientePorDNI]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerClientePorDNI]
@documento nvarchar(8)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  SELECT idCliente, nombreCompleto
    FROM CLiente
    WHERE documento = @documento;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProductoPorId]    Script Date: 22/12/2025 12:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerProductoPorId]
@idProducto int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select nombre, precio, stock, idProducto from Productos where idProducto = @idProducto
END
GO
USE [master]
GO
