USE [master]
GO
/****** Object:  Database [Compunents]    Script Date: 22/12/2025 20:24:22 ******/
CREATE DATABASE [Compunents]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Compunents', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Compunents.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Compunents_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Compunents_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Compunents].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Compunents]
GO
/****** Object:  Table [dbo].[BitacoraEvento]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEvento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_User] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Evento] [nvarchar](50) NOT NULL,
	[Criticidad] [int] NOT NULL,
 CONSTRAINT [PK_BitacoraEvento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[Id_Carrito] [int] IDENTITY(1,1) NOT NULL,
	[Id_Usuario] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaAlta] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[Estado] [bit] NULL,
	[IVA] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarritoItem]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarritoItem](
	[Id_Item] [int] IDENTITY(1,1) NOT NULL,
	[Id_Carrito] [int] NULL,
	[Id_Producto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
	[Subtotal] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[Id_Detalle] [int] IDENTITY(1,1) NOT NULL,
	[Id_Pedido] [int] NULL,
	[Id_Producto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[Id_Familia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[Id_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaPerfil]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPerfil](
	[Id_Familia] [int] NOT NULL,
	[Id_Perfil] [int] NULL,
	[Id_FamiliaPerfil] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_FamiliaPerfil] PRIMARY KEY CLUSTERED 
(
	[Id_FamiliaPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[Id_Localidad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[CostoEnvio] [decimal](10, 2) NULL,
	[MontoMinimoEnvio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[Id_Pago] [int] IDENTITY(1,1) NOT NULL,
	[Id_Pedido] [int] NULL,
	[MetodoPago] [nvarchar](50) NULL,
	[FechaPago] [datetime] NULL,
	[Monto] [decimal](10, 2) NULL,
	[EstadoPago] [nvarchar](50) NULL,
	[FechaAlta] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResets]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Token] [nvarchar](64) NOT NULL,
	[ExpiraUtc] [datetime2](7) NOT NULL,
	[Usado] [bit] NOT NULL,
	[FechaUsoUtc] [datetime2](7) NULL,
	[FechaCreacionUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[Id_Pedido] [int] IDENTITY(1,1) NOT NULL,
	[Id_Usuario] [int] NULL,
	[FechaPedido] [datetime] NULL,
	[Total] [decimal](10, 2) NULL,
	[Estado] [nvarchar](50) NULL,
	[MontoEnvio] [decimal](10, 2) NULL,
	[Localidad] [nvarchar](100) NULL,
	[Id_Localidad] [int] NULL,
	[FechaAlta] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[Id_Perfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Perfiles] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilPermisos]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilPermisos](
	[Id_PerfilPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Id_Permiso] [int] NOT NULL,
	[Id_Perfil] [int] NOT NULL,
 CONSTRAINT [PK_PerfilPermisos] PRIMARY KEY CLUSTERED 
(
	[Id_PerfilPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoFamilia]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoFamilia](
	[Id_Familia] [int] NOT NULL,
	[Id_Permiso] [int] NOT NULL,
	[Id_PermisoFamilia] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PermisoFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_PermisoFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[Id_Permiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[Id_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Precio] [decimal](10, 2) NULL,
	[Stock] [int] NULL,
	[ImagenUrl] [nvarchar](255) NULL,
	[Categoria] [nvarchar](100) NULL,
	[Activo] [bit] NULL,
	[FechaAlta] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[Consumo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarjetasValidas]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetasValidas](
	[IdTarjeta] [int] IDENTITY(1,1) NOT NULL,
	[NumeroTarjeta] [varchar](19) NOT NULL,
	[NombreTitular] [varchar](100) NOT NULL,
	[FechaVencimiento] [varchar](5) NOT NULL,
	[CodigoSeguridad] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Dni] [int] NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](255) NOT NULL,
	[Id_Perfil] [int] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[FechaAlta] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BitacoraEvento] ON 

INSERT [dbo].[BitacoraEvento] ([Id], [Id_User], [Fecha], [Modulo], [Evento], [Criticidad]) VALUES (1, 4, CAST(N'2025-08-20T14:51:58.227' AS DateTime), N'Login', N'Logueo de Cliente', 3)
INSERT [dbo].[BitacoraEvento] ([Id], [Id_User], [Fecha], [Modulo], [Evento], [Criticidad]) VALUES (2, 4, CAST(N'2025-08-20T14:52:34.427' AS DateTime), N'Login', N'Logueo de Cliente', 3)
INSERT [dbo].[BitacoraEvento] ([Id], [Id_User], [Fecha], [Modulo], [Evento], [Criticidad]) VALUES (1002, 6, CAST(N'2025-08-27T17:00:30.090' AS DateTime), N'Login', N'Logueo de Webmaster', 1)
GO
SET IDENTITY_INSERT [dbo].[BitacoraEvento] OFF
GO
SET IDENTITY_INSERT [dbo].[Carrito] ON 

INSERT [dbo].[Carrito] ([Id_Carrito], [Id_Usuario], [FechaCreacion], [FechaAlta], [FechaModificacion], [Estado], [IVA], [Total]) VALUES (39, 4, CAST(N'2025-06-14T23:39:07.957' AS DateTime), NULL, CAST(N'2025-06-15T17:57:15.317' AS DateTime), 0, NULL, CAST(299000.00 AS Decimal(18, 2)))
INSERT [dbo].[Carrito] ([Id_Carrito], [Id_Usuario], [FechaCreacion], [FechaAlta], [FechaModificacion], [Estado], [IVA], [Total]) VALUES (40, 4, CAST(N'2025-06-15T18:49:07.253' AS DateTime), NULL, CAST(N'2025-06-15T18:49:27.440' AS DateTime), 0, NULL, CAST(26500.00 AS Decimal(18, 2)))
INSERT [dbo].[Carrito] ([Id_Carrito], [Id_Usuario], [FechaCreacion], [FechaAlta], [FechaModificacion], [Estado], [IVA], [Total]) VALUES (41, 4, CAST(N'2025-06-15T18:52:41.660' AS DateTime), NULL, CAST(N'2025-06-15T18:52:46.740' AS DateTime), 0, NULL, CAST(42000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Carrito] OFF
GO
SET IDENTITY_INSERT [dbo].[CarritoItem] ON 

INSERT [dbo].[CarritoItem] ([Id_Item], [Id_Carrito], [Id_Producto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (67, 39, 21, 3, CAST(38000.00 AS Decimal(10, 2)), CAST(114000.00 AS Decimal(18, 2)))
INSERT [dbo].[CarritoItem] ([Id_Item], [Id_Carrito], [Id_Producto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (69, 39, 2, 1, CAST(9500.00 AS Decimal(10, 2)), CAST(9500.00 AS Decimal(18, 2)))
INSERT [dbo].[CarritoItem] ([Id_Item], [Id_Carrito], [Id_Producto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (70, 39, 4, 2, CAST(12500.00 AS Decimal(10, 2)), CAST(25000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CarritoItem] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallePedido] ON 

INSERT [dbo].[DetallePedido] ([Id_Detalle], [Id_Pedido], [Id_Producto], [Cantidad], [PrecioUnitario]) VALUES (1, 2, 21, 3, CAST(38000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([Id_Detalle], [Id_Pedido], [Id_Producto], [Cantidad], [PrecioUnitario]) VALUES (2, 2, 2, 1, CAST(9500.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([Id_Detalle], [Id_Pedido], [Id_Producto], [Cantidad], [PrecioUnitario]) VALUES (3, 2, 4, 2, CAST(12500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetallePedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([Id_Familia], [Nombre]) VALUES (1, N'Permisos de Productos')
INSERT [dbo].[Familia] ([Id_Familia], [Nombre]) VALUES (2, N'Gestion Pagos')
INSERT [dbo].[Familia] ([Id_Familia], [Nombre]) VALUES (1002, N'Web Master')
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
SET IDENTITY_INSERT [dbo].[FamiliaPerfil] ON 

INSERT [dbo].[FamiliaPerfil] ([Id_Familia], [Id_Perfil], [Id_FamiliaPerfil]) VALUES (1002, 1, 5)
SET IDENTITY_INSERT [dbo].[FamiliaPerfil] OFF
GO
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([Id_Localidad], [Nombre], [CostoEnvio], [MontoMinimoEnvio]) VALUES (1, N'Almagro', CAST(12500.00 AS Decimal(10, 2)), CAST(8000.00 AS Decimal(10, 2)))
INSERT [dbo].[Localidad] ([Id_Localidad], [Nombre], [CostoEnvio], [MontoMinimoEnvio]) VALUES (2, N'Barracas', CAST(12500.00 AS Decimal(10, 2)), CAST(8500.00 AS Decimal(10, 2)))
INSERT [dbo].[Localidad] ([Id_Localidad], [Nombre], [CostoEnvio], [MontoMinimoEnvio]) VALUES (3, N'Belgrano', CAST(14000.00 AS Decimal(10, 2)), CAST(9500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Localidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([Id_Pago], [Id_Pedido], [MetodoPago], [FechaPago], [Monto], [EstadoPago], [FechaAlta], [FechaModificacion]) VALUES (1, 2, N'Tarjeta de Crédito/Débito', CAST(N'2025-06-15T18:46:40.317' AS DateTime), CAST(299000.00 AS Decimal(10, 2)), N'Pendiente de Verificacion', CAST(N'2025-06-15T18:46:40.317' AS DateTime), CAST(N'2025-06-15T18:46:40.317' AS DateTime))
INSERT [dbo].[Pago] ([Id_Pago], [Id_Pedido], [MetodoPago], [FechaPago], [Monto], [EstadoPago], [FechaAlta], [FechaModificacion]) VALUES (2, 3, N'Tarjeta de Crédito/Débito', CAST(N'2025-06-15T18:49:46.940' AS DateTime), CAST(26500.00 AS Decimal(10, 2)), N'Pendiente de Verificacion', CAST(N'2025-06-15T18:49:46.940' AS DateTime), CAST(N'2025-06-15T18:49:46.940' AS DateTime))
INSERT [dbo].[Pago] ([Id_Pago], [Id_Pedido], [MetodoPago], [FechaPago], [Monto], [EstadoPago], [FechaAlta], [FechaModificacion]) VALUES (3, 4, N'Tarjeta de Crédito/Débito', CAST(N'2025-06-15T18:54:17.300' AS DateTime), CAST(43300.00 AS Decimal(10, 2)), N'Pendiente de Verificacion', CAST(N'2025-06-15T18:54:17.300' AS DateTime), CAST(N'2025-06-15T18:54:17.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordResets] ON 

INSERT [dbo].[PasswordResets] ([Id], [Email], [Token], [ExpiraUtc], [Usado], [FechaUsoUtc], [FechaCreacionUtc]) VALUES (2, N'aranoji6@gmail.com', N'b990af7f5f5a43f989dc0f1d4846d6ce', CAST(N'2025-08-20T15:37:50.0000000' AS DateTime2), 0, NULL, CAST(N'2025-08-20T13:37:50.5328510' AS DateTime2))
INSERT [dbo].[PasswordResets] ([Id], [Email], [Token], [ExpiraUtc], [Usado], [FechaUsoUtc], [FechaCreacionUtc]) VALUES (4, N'aranoji6@gmail.com', N'd3aac8d57a9c4a71a7f30b01e760e660', CAST(N'2025-08-20T19:51:00.0000000' AS DateTime2), 0, NULL, CAST(N'2025-08-20T17:50:59.8766051' AS DateTime2))
INSERT [dbo].[PasswordResets] ([Id], [Email], [Token], [ExpiraUtc], [Usado], [FechaUsoUtc], [FechaCreacionUtc]) VALUES (1002, N'aranoji6@gmail.com', N'07747c8f2b994129af435ee0333a284a', CAST(N'2025-08-27T00:55:09.0000000' AS DateTime2), 0, NULL, CAST(N'2025-08-26T22:55:09.2715016' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PasswordResets] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([Id_Pedido], [Id_Usuario], [FechaPedido], [Total], [Estado], [MontoEnvio], [Localidad], [Id_Localidad], [FechaAlta], [FechaModificacion]) VALUES (2, 4, CAST(N'2025-06-15T18:46:40.317' AS DateTime), CAST(299000.00 AS Decimal(10, 2)), N'Confirmado', CAST(0.00 AS Decimal(10, 2)), NULL, NULL, CAST(N'2025-06-15T18:46:40.317' AS DateTime), CAST(N'2025-06-15T18:46:40.317' AS DateTime))
INSERT [dbo].[Pedido] ([Id_Pedido], [Id_Usuario], [FechaPedido], [Total], [Estado], [MontoEnvio], [Localidad], [Id_Localidad], [FechaAlta], [FechaModificacion]) VALUES (3, 4, CAST(N'2025-06-15T18:49:46.940' AS DateTime), CAST(26500.00 AS Decimal(10, 2)), N'Confirmado', CAST(0.00 AS Decimal(10, 2)), NULL, NULL, CAST(N'2025-06-15T18:49:46.940' AS DateTime), CAST(N'2025-06-15T18:49:46.940' AS DateTime))
INSERT [dbo].[Pedido] ([Id_Pedido], [Id_Usuario], [FechaPedido], [Total], [Estado], [MontoEnvio], [Localidad], [Id_Localidad], [FechaAlta], [FechaModificacion]) VALUES (4, 4, CAST(N'2025-06-15T18:54:17.300' AS DateTime), CAST(42000.00 AS Decimal(10, 2)), N'Confirmado', CAST(1300.00 AS Decimal(10, 2)), N'Villa Crespo', 13, CAST(N'2025-06-15T18:54:17.300' AS DateTime), CAST(N'2025-06-15T18:54:17.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfiles] ON 

INSERT [dbo].[Perfiles] ([Id_Perfil], [Nombre]) VALUES (1, N'admin')
INSERT [dbo].[Perfiles] ([Id_Perfil], [Nombre]) VALUES (2, N'cliente')
INSERT [dbo].[Perfiles] ([Id_Perfil], [Nombre]) VALUES (3, N'empleado')
SET IDENTITY_INSERT [dbo].[Perfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[PerfilPermisos] ON 

INSERT [dbo].[PerfilPermisos] ([Id_PerfilPermiso], [Id_Permiso], [Id_Perfil]) VALUES (1, 1, 1)
INSERT [dbo].[PerfilPermisos] ([Id_PerfilPermiso], [Id_Permiso], [Id_Perfil]) VALUES (2, 2, 2)
INSERT [dbo].[PerfilPermisos] ([Id_PerfilPermiso], [Id_Permiso], [Id_Perfil]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[PerfilPermisos] OFF
GO
SET IDENTITY_INSERT [dbo].[PermisoFamilia] ON 

INSERT [dbo].[PermisoFamilia] ([Id_Familia], [Id_Permiso], [Id_PermisoFamilia]) VALUES (2, 1, 13)
INSERT [dbo].[PermisoFamilia] ([Id_Familia], [Id_Permiso], [Id_PermisoFamilia]) VALUES (2, 3, 15)
INSERT [dbo].[PermisoFamilia] ([Id_Familia], [Id_Permiso], [Id_PermisoFamilia]) VALUES (1, 2, 25)
SET IDENTITY_INSERT [dbo].[PermisoFamilia] OFF
GO
SET IDENTITY_INSERT [dbo].[Permisos] ON 

INSERT [dbo].[Permisos] ([Id_Permiso], [Nombre]) VALUES (1, N'Gestion de empleados')
INSERT [dbo].[Permisos] ([Id_Permiso], [Nombre]) VALUES (2, N'Gestion de clientes')
INSERT [dbo].[Permisos] ([Id_Permiso], [Nombre]) VALUES (3, N'Area de ventas')
SET IDENTITY_INSERT [dbo].[Permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [ImagenUrl], [Categoria], [Activo], [FechaAlta], [FechaModificacion], [Consumo]) VALUES (1, N'Procesador Intel Core i7', N'Procesador de 12ª generación para socket LGA1700', CAST(8000.00 AS Decimal(10, 2)), 11, N'https://github.com/juanignacioarano/FotosCompunents/blob/main/corei7.jpg?raw=true', N'Hardware', 1, CAST(N'2025-06-15T01:20:42.363' AS DateTime), NULL, 125)
INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [ImagenUrl], [Categoria], [Activo], [FechaAlta], [FechaModificacion], [Consumo]) VALUES (2, N'Memoria RAM 16GB DDR4', N'Memoria RAM DDR4 3200MHz', CAST(9500.00 AS Decimal(10, 2)), 9, N'https://github.com/juanignacioarano/FotosCompunents/blob/main/ram.jpg?raw=true', N'Hardware', 1, CAST(N'2025-06-15T01:20:42.363' AS DateTime), CAST(N'2025-10-21T19:58:07.187' AS DateTime), 15)
INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [ImagenUrl], [Categoria], [Activo], [FechaAlta], [FechaModificacion], [Consumo]) VALUES (3, N'Disco SSD 1TB', N'Unidad de estado sólido NVMe PCIe Gen4', CAST(11000.00 AS Decimal(10, 2)), 3, N'https://github.com/juanignacioarano/FotosCompunents/blob/main/ssd1t.jpg?raw=true', N'Hardware', 1, CAST(N'2025-06-15T01:20:42.363' AS DateTime), NULL, 6)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[TarjetasValidas] ON 

INSERT [dbo].[TarjetasValidas] ([IdTarjeta], [NumeroTarjeta], [NombreTitular], [FechaVencimiento], [CodigoSeguridad]) VALUES (1, N'4580-1234-5678-9012', N'Juan Perez', N'12/28', N'123')
INSERT [dbo].[TarjetasValidas] ([IdTarjeta], [NumeroTarjeta], [NombreTitular], [FechaVencimiento], [CodigoSeguridad]) VALUES (2, N'5555-4444-3333-2222', N'Maria Garcia', N'06/27', N'456')
SET IDENTITY_INSERT [dbo].[TarjetasValidas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre], [Apellido], [Dni], [Mail], [UserName], [Clave], [Id_Perfil], [IntentosFallidos], [Bloqueado], [FechaAlta], [FechaModificacion]) VALUES (4, N'cliente', N'cliente', 44333333, N'aranoji6@gmail.com', N'cliente', N'oIYBABlGY95MxijmbtpQWNKMYcXuj0zZw14KZ3QwRTGtT7LrtgjDkSDp7l50Vh3f7logQQ==', 2, 2, 0, NULL, NULL)
INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre], [Apellido], [Dni], [Mail], [UserName], [Clave], [Id_Perfil], [IntentosFallidos], [Bloqueado], [FechaAlta], [FechaModificacion]) VALUES (6, N'Test', N'Test', 45008771, N'aranoji65@gmail.com', N'admin', N'oIYBAP2/0cKyVVHk8cGZlcCk0tKQjcrE47HmEq5mp6O9OXD3p4XQKQfH8TjQu8lH/l5Hfw==', 1, 0, 0, CAST(N'2025-08-20T14:21:58.390' AS DateTime), NULL)
INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre], [Apellido], [Dni], [Mail], [UserName], [Clave], [Id_Perfil], [IntentosFallidos], [Bloqueado], [FechaAlta], [FechaModificacion]) VALUES (7, N'Natalia', N'Cirillo', 12345678, N'', N'naty nat', N'1234', 1, 3, 1, CAST(N'2025-08-27T16:48:56.910' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Password__1EB4F8170EE05A4D]    Script Date: 22/12/2025 20:24:22 ******/
ALTER TABLE [dbo].[PasswordResets] ADD UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PasswordResets_Email]    Script Date: 22/12/2025 20:24:22 ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResets_Email] ON [dbo].[PasswordResets]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_PasswordResets_Token]    Script Date: 22/12/2025 20:24:22 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PasswordResets_Token] ON [dbo].[PasswordResets]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_Mail]    Script Date: 22/12/2025 20:24:22 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Mail] UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_UserName]    Script Date: 22/12/2025 20:24:22 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[PasswordResets] ADD  DEFAULT ((0)) FOR [Usado]
GO
ALTER TABLE [dbo].[PasswordResets] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacionUtc]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[BitacoraEvento]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraEvento_Usuarios] FOREIGN KEY([Id_User])
REFERENCES [dbo].[Usuarios] ([Id_Usuario])
GO
ALTER TABLE [dbo].[BitacoraEvento] CHECK CONSTRAINT [FK_BitacoraEvento_Usuarios]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([Id_Pedido])
REFERENCES [dbo].[Pedido] ([Id_Pedido])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[FamiliaPerfil]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPerfil_Familia] FOREIGN KEY([Id_Familia])
REFERENCES [dbo].[Familia] ([Id_Familia])
GO
ALTER TABLE [dbo].[FamiliaPerfil] CHECK CONSTRAINT [FK_FamiliaPerfil_Familia]
GO
ALTER TABLE [dbo].[FamiliaPerfil]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPerfil_Perfiles] FOREIGN KEY([Id_Perfil])
REFERENCES [dbo].[Perfiles] ([Id_Perfil])
GO
ALTER TABLE [dbo].[FamiliaPerfil] CHECK CONSTRAINT [FK_FamiliaPerfil_Perfiles]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([Id_Pedido])
REFERENCES [dbo].[Pedido] ([Id_Pedido])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([Id_Localidad])
REFERENCES [dbo].[Localidad] ([Id_Localidad])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuarios] ([Id_Usuario])
GO
ALTER TABLE [dbo].[PerfilPermisos]  WITH CHECK ADD  CONSTRAINT [FK_PerfilPermisos_Perfiles] FOREIGN KEY([Id_Perfil])
REFERENCES [dbo].[Perfiles] ([Id_Perfil])
GO
ALTER TABLE [dbo].[PerfilPermisos] CHECK CONSTRAINT [FK_PerfilPermisos_Perfiles]
GO
ALTER TABLE [dbo].[PerfilPermisos]  WITH CHECK ADD  CONSTRAINT [FK_PerfilPermisos_Permisos] FOREIGN KEY([Id_Permiso])
REFERENCES [dbo].[Permisos] ([Id_Permiso])
GO
ALTER TABLE [dbo].[PerfilPermisos] CHECK CONSTRAINT [FK_PerfilPermisos_Permisos]
GO
ALTER TABLE [dbo].[PermisoFamilia]  WITH CHECK ADD  CONSTRAINT [FK_PermisoFamilia_Familia] FOREIGN KEY([Id_Familia])
REFERENCES [dbo].[Familia] ([Id_Familia])
GO
ALTER TABLE [dbo].[PermisoFamilia] CHECK CONSTRAINT [FK_PermisoFamilia_Familia]
GO
ALTER TABLE [dbo].[PermisoFamilia]  WITH CHECK ADD  CONSTRAINT [FK_PermisoFamilia_Permisos] FOREIGN KEY([Id_Permiso])
REFERENCES [dbo].[Permisos] ([Id_Permiso])
GO
ALTER TABLE [dbo].[PermisoFamilia] CHECK CONSTRAINT [FK_PermisoFamilia_Permisos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfiles] FOREIGN KEY([Id_Perfil])
REFERENCES [dbo].[Perfiles] ([Id_Perfil])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfiles]
GO
/****** Object:  StoredProcedure [dbo].[AsignarPerfilUsuario]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AsignarPerfilUsuario]
@Id_Usuario int,
@Id_Perfil int
as
begin
UPDATE Usuarios SET Id_Perfil = @Id_Perfil 
where Id_Usuario = @Id_Usuario
end
GO
/****** Object:  StoredProcedure [dbo].[GetUsuarios]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetUsuarios]
as
begin
select Id_Usuario,Nombre, Clave from Usuarios
end
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProductoMasVendido]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerProductoMasVendido]
AS
BEGIN
    SELECT TOP 1 
        p.Id, 
        p.Nombre, 
        p.Descripcion, 
        p.Precio, 
        p.Stock,
		p.ImagenUrl
    FROM Productos p
    INNER JOIN DetallePedido dp ON p.Id = dp.Id_Producto
    GROUP BY p.Id, p.Nombre, p.Descripcion, p.Precio, p.Stock, p.ImagenUrl
    ORDER BY SUM(dp.Cantidad) DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProductoMenosVendido]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerProductoMenosVendido]
AS
BEGIN
    SELECT TOP 1 
        p.Id, 
        p.Nombre, 
        p.Descripcion, 
        p.Precio, 
        p.Stock,
		p.ImagenUrl
    FROM Productos p
    INNER JOIN DetallePedido dp ON p.Id = dp.Id_Producto
    GROUP BY p.Id, p.Nombre, p.Descripcion, p.Precio, p.Stock, p.ImagenUrl
    ORDER BY SUM(dp.Cantidad) ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarCantidadItem]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarCantidadItem]
    @IdItem INT,
    @NuevaCantidad INT,
    @PrecioUnitario DECIMAL(10, 2)
AS
BEGIN
    -- ... (toda la lógica del SP que te pasé antes)
    -- La parte clave es esta:
    UPDATE dbo.CarritoItem
    SET 
        Cantidad = @NuevaCantidad, -- Asigna el nuevo valor, NO suma.
        Subtotal = @NuevaCantidad * @PrecioUnitario 
    WHERE 
        Id_Item = @IdItem;
    -- ... y luego actualiza el total del carrito principal
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarLocalidad]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Stored Procedure: SP_ActualizarLocalidad
-- Descripción: Actualiza una localidad existente por ID
-- =============================================
CREATE   PROCEDURE [dbo].[SP_ActualizarLocalidad]
    @IdLocalidad INT,
    @Nombre NVARCHAR(100),
    @CostoEnvio DECIMAL(10,2),
    @MontoMinimoEnvio DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Localidad
    SET
        Nombre = @Nombre,
        CostoEnvio = @CostoEnvio,
        MontoMinimoEnvio = @MontoMinimoEnvio
    WHERE Id_Localidad = @IdLocalidad;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarProducto]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarProducto]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(MAX),
    @Precio DECIMAL(10,2),
    @Stock INT,
    @ImagenUrl NVARCHAR(255),
    @Categoria NVARCHAR(100),
    @Activo BIT,
    @FechaAlta DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Productos
    SET
        Nombre = @Nombre,
        Descripcion = @Descripcion,
        Precio = @Precio,
        Stock = @Stock,
        ImagenUrl = @ImagenUrl,
        Categoria = @Categoria,
        Activo = @Activo,
        FechaAlta = @FechaAlta
     WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarStockProducto]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarStockProducto]
    @IdProducto INT,
    @NuevoStock INT
AS
BEGIN
    UPDATE Productos
    SET Stock = @NuevoStock,
        FechaModificacion = GETDATE()
    WHERE Id = @IdProducto;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarAlCarrito]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarAlCarrito]
    -- Solo necesitamos los datos que vienen desde la acción del usuario
    @IdUsuario INT,
    @IdProducto INT,
    @Cantidad INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Declaramos variables que vamos a necesitar
    DECLARE @ActiveCarritoID INT;
    DECLARE @PrecioProducto DECIMAL(10, 2);

    -- 2. Buscamos el carrito activo del usuario (asumo que Estado=1 significa activo)
    SELECT @ActiveCarritoID = Id_Carrito
    FROM dbo.Carrito
    WHERE Id_Usuario = @IdUsuario AND Estado = 1;

    -- 3. Si el usuario NO tiene un carrito activo, creamos uno nuevo
    IF @ActiveCarritoID IS NULL
    BEGIN
        -- Usamos tu propio SP para crear el carrito
        EXEC @ActiveCarritoID = dbo.SP_CrearCarrito @IdUsuario = @IdUsuario;
    END

    -- 4. Obtenemos el precio actual del producto
    SELECT @PrecioProducto = Precio FROM dbo.Productos WHERE Id = @IdProducto;

    -- 5. Verificamos si el producto ya existe en ese carrito
    IF EXISTS (SELECT 1 FROM dbo.CarritoItem WHERE Id_Carrito = @ActiveCarritoID AND Id_Producto = @IdProducto)
    BEGIN
        -- SI EXISTE: Actualizamos la cantidad (UPDATE)
        UPDATE dbo.CarritoItem
        SET Cantidad = Cantidad + @Cantidad,
            Subtotal = (Cantidad + @Cantidad) * @PrecioProducto
        WHERE Id_Carrito = @ActiveCarritoID AND Id_Producto = @IdProducto;
    END
    ELSE
    BEGIN
        -- NO EXISTE: Insertamos un nuevo item (INSERT)
        INSERT INTO dbo.CarritoItem (Id_Carrito, Id_Producto, Cantidad, PrecioUnitario, Subtotal)
        VALUES (@ActiveCarritoID, @IdProducto, @Cantidad, @PrecioProducto, (@Cantidad * @PrecioProducto));
    END

    -- 6. Actualizamos la fecha de modificación y el total del carrito principal
    UPDATE dbo.Carrito
    SET FechaModificacion = GETDATE(),
        Total = (SELECT SUM(Subtotal) FROM dbo.CarritoItem WHERE Id_Carrito = @ActiveCarritoID)
    WHERE Id_Carrito = @ActiveCarritoID;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarFamilia]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AgregarFamilia]
@Nombre nvarchar(50)
as
begin
insert into Familia (Nombre) values (@Nombre)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarFamiliaPerfil]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarFamiliaPerfil]
    @Id_Familia INT,
    @Id_Perfil INT
AS
BEGIN
    -- Verifica si ya existe la relación
    IF NOT EXISTS (
        SELECT 1
        FROM FamiliaPerfil
        WHERE Id_Familia = @Id_Familia AND Id_Perfil = @Id_Perfil
    )
    BEGIN
        INSERT INTO FamiliaPerfil (Id_Familia, Id_Perfil)
        VALUES (@Id_Familia, @Id_Perfil)

        -- Retorna 0 si se insertó correctamente
        RETURN 0
    END
    ELSE
    BEGIN
        -- Retorna 1 si ya existía la relación
        RETURN 1
    END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarPerfil]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AgregarPerfil]
@Nombre nvarchar(50)
as
begin
insert into Perfiles (Nombre) values (@Nombre)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarPermisoAFamilia]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AgregarPermisoAFamilia]
@Id_Permiso int,
@Id_Familia int
as
begin
insert into PermisoFamilia (Id_Permiso,Id_Familia) values (@Id_Permiso,@Id_Familia)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarPermisoFamilia]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AgregarPermisoFamilia]
@Id_Permiso int,
@Id_Familia int
as
begin
insert into PermisoFamilia (Id_Permiso,Id_Familia) values (@Id_Permiso,@Id_Familia)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarProducto]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarProducto]
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(255),
    @Precio DECIMAL(10,2),
    @Stock INT,
    @ImagenUrl NVARCHAR(255),
    @Categoria NVARCHAR(100),
    @Activo BIT
AS
BEGIN
    INSERT INTO Productos (Nombre, Descripcion, Precio, Stock, ImagenUrl, Categoria, Activo, FechaAlta)
    VALUES (@Nombre, @Descripcion, @Precio, @Stock, @ImagenUrl, @Categoria, @Activo, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AutenticarUser]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AutenticarUser]
@UserName nvarchar(50),
@Clave nvarchar(255)
as
begin
select 1 from Usuarios where UserName = @UserName and Clave = @Clave
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarProductosPorNombre]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BuscarProductosPorNombre]
    @Busqueda NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Productos
    WHERE Nombre LIKE '%' + @Busqueda + '%' AND Activo = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ConfirmarPedido]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ConfirmarPedido]
    @IdCarrito INT,
    @IdLocalidad INT,
    @MontoEnvio DECIMAL(10,2),
    @MetodoPago NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Declaramos variables
        DECLARE @IdUsuario INT, @TotalCarrito DECIMAL(18,2);
        DECLARE @NombreLocalidad NVARCHAR(100) = NULL;
        DECLARE @IdLocalidadAInsertar INT = NULL;

        -- Obtenemos datos del carrito
        SELECT @IdUsuario = c.Id_Usuario, @TotalCarrito = c.Total 
        FROM dbo.Carrito c WHERE c.Id_Carrito = @IdCarrito;
        
        -- --- LÓGICA CORREGIDA ---
        -- Si el IdLocalidad es válido (mayor a 0), lo usamos. Si no, se queda NULL.
        IF @IdLocalidad > 0
        BEGIN
            SET @IdLocalidadAInsertar = @IdLocalidad;
            SELECT @NombreLocalidad = Nombre FROM dbo.Localidad WHERE Id_Localidad = @IdLocalidadAInsertar;
        END

        -- Insertamos el nuevo pedido usando las variables que pueden ser NULL
        INSERT INTO dbo.Pedido (Id_Usuario, FechaPedido, Total, Estado, MontoEnvio, Id_Localidad, Localidad, FechaAlta, FechaModificacion)
        VALUES (@IdUsuario, GETDATE(), @TotalCarrito, 'Confirmado', @MontoEnvio, @IdLocalidadAInsertar, @NombreLocalidad, GETDATE(), GETDATE());

        DECLARE @NuevoPedidoID INT = SCOPE_IDENTITY();

        -- El resto del SP se mantiene igual...
        INSERT INTO dbo.Pago (Id_Pedido, MetodoPago, FechaPago, Monto, EstadoPago, FechaAlta, FechaModificacion)
        VALUES (@NuevoPedidoID, @MetodoPago, GETDATE(), (@TotalCarrito + @MontoEnvio), 'Pendiente de Verificacion', GETDATE(), GETDATE());

        INSERT INTO dbo.DetallePedido (Id_Pedido, Id_Producto, Cantidad, PrecioUnitario)
        SELECT @NuevoPedidoID, Id_Producto, Cantidad, PrecioUnitario 
        FROM dbo.CarritoItem 
        WHERE Id_Carrito = @IdCarrito;

        UPDATE p
        SET p.Stock = p.Stock - ci.Cantidad
        FROM dbo.Productos p
        INNER JOIN dbo.CarritoItem ci ON p.Id = ci.Id_Producto
        WHERE ci.Id_Carrito = @IdCarrito;

        UPDATE dbo.Carrito SET Estado = 0 WHERE Id_Carrito = @IdCarrito;

        COMMIT TRANSACTION;
        SELECT @NuevoPedidoID AS PedidoIdConfirmado;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ConsultarBitacoras]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ConsultarBitacoras]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from BitacoraEvento order by fecha desc;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CorromperLocalidades]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_CorromperLocalidades]
AS
BEGIN
    SET NOCOUNT ON;

    WITH DosLoc AS (
        SELECT TOP 2 Id_Localidad
        FROM dbo.Localidad
        ORDER BY NEWID()
    )
    UPDATE l
    SET
        Nombre = 'CORRUPTA',
        CostoEnvio = -1,
        MontoMinimoEnvio = -1
    FROM dbo.Localidad l
    JOIN DosLoc d ON l.Id_Localidad = d.Id_Localidad;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CorromperProductos]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_CorromperProductos]
AS
BEGIN
    SET NOCOUNT ON;

    WITH DosProductos AS (
        SELECT TOP 2 Id
        FROM dbo.Productos
        ORDER BY NEWID()
    )
    UPDATE p
    SET
        Nombre = 'CORRUPTO',
        Descripcion = 'CORRUPTO',
        Precio = -1,
        Stock = -1,
        ImagenUrl = NULL,
        Categoria = 'CORRUPTO',
        Activo = 0,
        FechaModificacion = GETDATE()
    FROM dbo.Productos p
    JOIN DosProductos d ON p.Id = d.Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearCarrito]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearCarrito]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Carrito (Id_Usuario, FechaCreacion, FechaModificacion, Estado)
    VALUES (@IdUsuario, GETDATE(), GETDATE(), 1); 

    SELECT SCOPE_IDENTITY() AS IdCarrito;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearPedido]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearPedido]
    @IdUsuario INT,
    @Total DECIMAL(10,2),
    @Estado NVARCHAR(50),
    @MontoEnvio DECIMAL(10,2),
    @Localidad NVARCHAR(100)
AS
BEGIN
    INSERT INTO Pedido (Id_Usuario, FechaPedido, Total, Estado, MontoEnvio, Localidad, FechaAlta)
    VALUES (@IdUsuario, GETDATE(), @Total, @Estado, @MontoEnvio, @Localidad, GETDATE());

    SELECT SCOPE_IDENTITY() AS IdPedido;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearUsuario]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearUsuario]
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Dni NVARCHAR(20),
    @Mail NVARCHAR(100),
    @UserName NVARCHAR(50),
    @Clave NVARCHAR(100),
    @Id_Perfil INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Usuarios (Nombre, Apellido, Dni, Mail, UserName, Clave, Id_Perfil)
    VALUES (@Nombre, @Apellido, @Dni, @Mail, @UserName, @Clave, @Id_Perfil);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarFamiliaPerfil]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_EliminarFamiliaPerfil]
@Id_Familia int,
@Id_Perfil int
as
begin
delete from  FamiliaPerfil
where Id_Familia = @Id_Familia and
Id_Perfil = @Id_Perfil
end
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarFamiliaPermiso]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_EliminarFamiliaPermiso]
@Id_Familia int,
@Id_Permiso int
as
begin
delete from PermisoFamilia
where Id_Familia = @Id_Familia and
Id_Permiso = @Id_Permiso
end
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarItemDelCarrito]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarItemDelCarrito]
    @IdItem INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Declaramos una variable para guardar el ID del carrito padre
    DECLARE @CarritoID INT;

    -- Obtenemos el ID del carrito ANTES de eliminar el item
    SELECT @CarritoID = Id_Carrito FROM dbo.CarritoItem WHERE Id_Item = @IdItem;

    -- Si no encontramos el carrito, no hay nada que hacer
    IF @CarritoID IS NULL
    BEGIN
        RETURN;
    END

    -- Eliminamos el item de la tabla
    DELETE FROM dbo.CarritoItem
    WHERE Id_Item = @IdItem;

    -- Actualizamos la tabla principal del Carrito
    UPDATE dbo.Carrito
    SET 
        FechaModificacion = GETDATE(),
        -- Recalculamos el Total sumando todos los subtotales de los items restantes
        Total = (SELECT COALESCE(SUM(Subtotal), 0) FROM dbo.CarritoItem WHERE Id_Carrito = @CarritoID)
    WHERE 
        Id_Carrito = @CarritoID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarPermisosXFamilia]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_EliminarPermisosXFamilia]
@Id_Familia int
as
begin
Delete from PermisoFamilia 
where Id_Familia = @Id_Familia
end
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarTodasLasLocalidades]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarTodasLasLocalidades]
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Localidad;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarTodosLosProductos]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarTodosLosProductos]

AS
BEGIN
    SET NOCOUNT ON;

    Delete from Productos
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEventos]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetEventos]
as
begin
Select be.Evento, be.Modulo, be.Criticidad, be.Fecha , u.Nombre as Usuario 
from BitacoraEvento be
inner join Usuarios u on be.Id_User = u.Id_Usuario
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoles]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetRoles]
as
begin
Select * from Perfiles
end
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarBitacoraEvento]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarBitacoraEvento]
    @Id_User INT,
    @Fecha DATETIME,
    @Modulo NVARCHAR(50),
    @Evento NVARCHAR(50),
    @Criticidad INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.BitacoraEvento (Id_User, Fecha, Modulo, Evento, Criticidad)
    VALUES (@Id_User, @Fecha, @Modulo, @Evento, @Criticidad);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarDetallePedido]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarDetallePedido]
    @IdPedido INT,
    @IdProducto INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(10,2)
AS
BEGIN
    INSERT INTO DetallePedido (Id_Pedido, Id_Producto, Cantidad, PrecioUnitario)
    VALUES (@IdPedido, @IdProducto, @Cantidad, @PrecioUnitario);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarEvento]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_InsertarEvento]
@Fecha datetime,
@Modulo nvarchar(50),
@Evento nvarchar(50),
@Criticidad int,
@Usuario int
as
begin
insert into BitacoraEvento (Fecha,Modulo,Evento,Criticidad,Id_User) values(@Fecha,@Modulo,@Evento,@Criticidad,@Usuario)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarLocalidad]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarLocalidad]
    @Nombre NVARCHAR(100),
    @CostoEnvio DECIMAL(10,2),
    @MontoMinimoEnvio DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Localidad (Nombre, CostoEnvio, MontoMinimoEnvio)
    VALUES (@Nombre, @CostoEnvio, @MontoMinimoEnvio);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarLocalidadConID]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarLocalidadConID]
    @IdLocalidad INT,
    @Nombre NVARCHAR(100),
    @CostoEnvio DECIMAL(10,2),
    @MontoMinimoEnvio DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    SET IDENTITY_INSERT dbo.Localidad ON;

    INSERT INTO dbo.Localidad (Id_Localidad, Nombre, CostoEnvio, MontoMinimoEnvio)
    VALUES (@IdLocalidad, @Nombre, @CostoEnvio, @MontoMinimoEnvio);

    SET IDENTITY_INSERT dbo.Localidad OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarProducto]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarProducto]
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(MAX),
    @Precio DECIMAL(10,2),
    @Stock INT,
    @ImagenUrl NVARCHAR(255),
    @Categoria NVARCHAR(100),
    @Activo BIT,
    @FechaAlta DATETIME,
    @FechaModificacion DATETIME,
    @Consumo INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Productos (
        Nombre, Descripcion, Precio, Stock,
        ImagenUrl, Categoria, Activo,
        FechaAlta, FechaModificacion, Consumo
    )
    VALUES (
        @Nombre, @Descripcion, @Precio, @Stock,
        @ImagenUrl, @Categoria, @Activo,
        @FechaAlta, @FechaModificacion, @Consumo
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarProductoConID]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarProductoConID]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(MAX),
    @Precio DECIMAL(10,2),
    @Stock INT,
    @ImagenUrl NVARCHAR(255),
    @Categoria NVARCHAR(100),
    @Activo BIT,
    @FechaAlta DATETIME,
    @FechaModificacion DATETIME,
    @Consumo INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Productos (
        Id, Nombre, Descripcion, Precio, Stock,
        ImagenUrl, Categoria, Activo, FechaAlta, FechaModificacion, Consumo
    )
    VALUES (
        @Id, @Nombre, @Descripcion, @Precio, @Stock,
        @ImagenUrl, @Categoria, @Activo, @FechaAlta, @FechaModificacion, @Consumo
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerDetallePedido]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerDetallePedido]
    @IdPedido INT
AS
BEGIN
    SELECT DP.*, P.Nombre
    FROM DetallePedido DP
    INNER JOIN Productos P ON DP.Id_Producto = P.Id
    WHERE DP.Id_Pedido = @IdPedido;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerDetallePorPedido]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerDetallePorPedido]
    @IdPedido INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        d.Cantidad,
        d.PrecioUnitario,
        p.Nombre,
        p.ImagenUrl -- <-- CORRECCIÓN: Cambiamos UrlImagen por ImagenUrl
    FROM
        dbo.DetallePedido d
    INNER JOIN
        dbo.Productos p ON d.Id_Producto = p.Id
    WHERE
        d.Id_Pedido = @IdPedido;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerFamiliaAsignada]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerFamiliaAsignada]
    @Id_Perfil INT
AS
BEGIN
    SELECT TOP 1 Id_Familia
    FROM FamiliaPerfil
    WHERE Id_Perfil = @Id_Perfil
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerFamiliaPorNombre]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ObtenerFamiliaPorNombre]
@Nombre nvarchar(50)
as
begin
select 1 from  Familia where Nombre = @Nombre
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerFamilias]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ObtenerFamilias]
as
begin
select * from Familia
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerFamiliasPerfil]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ObtenerFamiliasPerfil]
@Id_Perfil int
as
begin
select * from FamiliaPerfil where Id_Perfil = @Id_Perfil
end

GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerItemsPorCarrito]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerItemsPorCarrito]
    @IdCarrito INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Este SELECT ya trae toda la información necesaria en una sola consulta
    SELECT 
        ci.Id_Item,
        ci.Id_Carrito,
        ci.Id_Producto,
        p.Nombre,           -- <<< Dato del producto
        ci.Cantidad,
        ci.PrecioUnitario,
        ci.Subtotal,
        p.ImagenUrl         -- <<< Dato del producto
    FROM 
        dbo.CarritoItem ci
    INNER JOIN 
        dbo.Productos p ON ci.Id_Producto = p.Id
    WHERE 
        ci.Id_Carrito = @IdCarrito;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerLocalidades]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerLocalidades]
AS
BEGIN
    SELECT
        Id_Localidad,
        Nombre,
        CostoEnvio,
        MontoMinimoEnvio
    FROM Localidad
    ORDER BY Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerLocalidadPorId]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerLocalidadPorId]
    @IdLocalidad INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.Localidad
    WHERE Id_Localidad = @IdLocalidad;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPagoPorPedido]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerPagoPorPedido]
    @IdPedido INT
AS
BEGIN
    SELECT * FROM Pago
    WHERE Id_Pedido = @IdPedido;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPedidosPorUsuario]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerPedidosPorUsuario]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        p.Id_Pedido,
        p.FechaPedido,
        p.Total,
        p.Estado,
        pg.MetodoPago -- <-- CORRECCIÓN: Obtenemos el dato de la tabla Pagos
    FROM 
        dbo.Pedido p
    INNER JOIN 
        dbo.Pago pg ON p.Id_Pedido = pg.Id_Pedido -- <-- CORRECCIÓN: Unimos las tablas
    WHERE 
        p.Id_Usuario = @IdUsuario
    ORDER BY 
        p.FechaPedido DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPerfilAsignado]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerPerfilAsignado]
    @Id_Usuario INT
AS
BEGIN
    SELECT TOP 1 Id_Perfil
    FROM Usuarios
    WHERE Id_Usuario = @Id_Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPerfiles]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerPerfiles]
AS
BEGIN
    SELECT Id_Perfil, Nombre
    FROM Perfiles
    ORDER BY Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPerfilPorNombre]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ObtenerPerfilPorNombre]
@Nombre nvarchar(50)
as
begin
select 1 from  Perfiles where Nombre = @Nombre
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPermisos]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ObtenerPermisos]
as
begin
Select * from Permisos
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPermisosPorFamilia]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ObtenerPermisosPorFamilia]
@Id_Familia int
as
begin
SELECT p.Id_Permiso, p.Nombre
FROM Permisos p
JOIN PermisoFamilia fp ON fp.Id_Permiso = p.Id_Permiso
WHERE fp.Id_Familia = @Id_Familia
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPermisosXFamilia]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ObtenerPermisosXFamilia]
@Id_Familia int
as
begin
select * from PermisoFamilia pf
join Familia f on f.Id_Familia = pf.Id_Familia
where f.Id_Familia = @Id_Familia
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerProductos]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerProductos]
AS
BEGIN
    SELECT * FROM Productos
    WHERE Activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerRolPorUsuario]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerRolPorUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT P.Nombre AS Rol
    FROM Usuarios U
    INNER JOIN Perfiles P ON U.Id_Perfil = P.Id_Perfil
    WHERE U.Id_Usuario = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerUltimoCarrito]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerUltimoCarrito]
    @Id_Usuario INT
AS
BEGIN
    SET NOCOUNT ON;

    -- CAMBIO AQUÍ: Seleccionamos la columna Id_Carrito y solo la fila más reciente
    -- También es importante filtrar solo por carritos activos (asumo Estado = 1)
    SELECT TOP 1 Id_Carrito 
    FROM dbo.Carrito 
    WHERE Id_Usuario = @Id_Usuario AND Estado = 1
    ORDER BY FechaCreacion DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerVentasUltimos30Dias]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerVentasUltimos30Dias]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.Id_Pedido,
        p.FechaPedido,
        p.MontoEnvio,
        p.Total            AS TotalPedidoGuardado,
        dp.Id_Producto,
        pr.Nombre          AS NombreProducto,
        CAST(dp.Cantidad * dp.PrecioUnitario AS DECIMAL(18,2)) AS SubtotalItem,
        dp.Cantidad        AS TotalItems,
        CAST(dp.Cantidad * dp.PrecioUnitario + ISNULL(p.MontoEnvio,0) AS DECIMAL(18,2)) AS TotalCalculado
    FROM dbo.Pedido p
    INNER JOIN dbo.DetallePedido dp ON dp.Id_Pedido = p.Id_Pedido
    INNER JOIN dbo.Productos pr     ON pr.Id = dp.Id_Producto
    WHERE p.FechaPedido >= DATEADD(DAY,-30, CAST(GETDATE() AS DATE))
      AND p.FechaPedido <  DATEADD(DAY, 1, CAST(GETDATE() AS DATE))
    ORDER BY p.FechaPedido DESC, p.Id_Pedido, pr.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PasswordReset_Guardar]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_PasswordReset_Guardar]
    @Email      NVARCHAR(255),
    @Token      NVARCHAR(64),
    @ExpiraUtc  DATETIME2(0)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validaciones simples
    IF (@Email IS NULL OR LTRIM(RTRIM(@Email)) = '')
    BEGIN
        RAISERROR('Email no puede ser nulo o vacío.', 16, 1);
        RETURN;
    END
    IF (@Token IS NULL OR LTRIM(RTRIM(@Token)) = '')
    BEGIN
        RAISERROR('Token no puede ser nulo o vacío.', 16, 1);
        RETURN;
    END
    IF (@ExpiraUtc IS NULL)
    BEGIN
        RAISERROR('ExpiraUtc no puede ser nulo.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRAN;

        -- 1) Opcional: dejar un solo token activo por email
        DELETE FROM dbo.PasswordResets
        WHERE Email = @Email
          AND (Usado = 0 OR Usado IS NULL)
          AND ExpiraUtc > SYSUTCDATETIME();

        -- 2) Insertar nuevo token
        DECLARE @NewId INT;

        INSERT INTO dbo.PasswordResets
            (Email, Token, ExpiraUtc, Usado, FechaUsoUtc, FechaCreacionUtc)
        VALUES
            (@Email, @Token, @ExpiraUtc, 0, NULL, SYSUTCDATETIME());

        SET @NewId = SCOPE_IDENTITY();

        -- 3) Devolver Id (y eco del token por comodidad)
        SELECT
            Id = @NewId,
            Email = @Email,
            Token = @Token,
            ExpiraUtc = @ExpiraUtc;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0) ROLLBACK TRAN;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE(),
                @ErrNum INT = ERROR_NUMBER(),
                @ErrSev INT = ERROR_SEVERITY(),
                @ErrState INT = ERROR_STATE(),
                @ErrLine INT = ERROR_LINE();
        RAISERROR('SP_PasswordReset_Guardar fallo: (%d) %s [Line %d]', @ErrSev, 1, @ErrNum, @ErrMsg, @ErrLine);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarIntentoFallido]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistrarIntentoFallido]
    @IdUsuario INT
AS
BEGIN
    UPDATE Usuarios
    SET IntentosFallidos = IntentosFallidos + 1,
        Bloqueado = CASE WHEN IntentosFallidos + 1 >= 3 THEN 1 ELSE Bloqueado END
    WHERE Id_Usuario = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarPago]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistrarPago]
    @IdPedido INT,
    @MetodoPago NVARCHAR(50),
    @Monto DECIMAL(10,2),
    @EstadoPago NVARCHAR(50)
AS
BEGIN
    INSERT INTO Pago (Id_Pedido, MetodoPago, FechaPago, Monto, EstadoPago, FechaAlta)
    VALUES (@IdPedido, @MetodoPago, GETDATE(), @Monto, @EstadoPago, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ResetearIntentos]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ResetearIntentos]
    @IdUsuario INT
AS
BEGIN
    UPDATE Usuarios
    SET IntentosFallidos = 0
    WHERE Id_Usuario = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RestablecerContraseña]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RestablecerContraseña]
    @Email      NVARCHAR(255),
    @NuevaContraseña      NVARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update Usuarios SET Clave = @NuevaContraseña where Mail = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TraerUsuario]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TraerUsuario]
    @UserName NVARCHAR(50)
AS
BEGIN
    SELECT 
        u.Id_Usuario,
        u.Nombre,
        u.Apellido,
        u.Clave,
        u.Dni,
        u.Mail,
        u.UserName,
        p.Nombre AS Nombre_Perfil,
        p.Id_Perfil AS Id_Perfil,
        u.IntentosFallidos,      -- NUEVO
        u.Bloqueado              -- NUEVO
    FROM Usuarios u
    INNER JOIN Perfiles p ON u.Id_Perfil = p.Id_Perfil
    WHERE u.UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VaciarCarrito]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VaciarCarrito]
    @IdCarrito INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Elimina todos los items asociados a un carrito
    DELETE FROM dbo.CarritoItem 
    WHERE Id_Carrito = @IdCarrito;

    -- Actualiza el carrito principal para que su total sea 0
    UPDATE dbo.Carrito
    SET Total = 0, FechaModificacion = GETDATE()
    WHERE Id_Carrito = @IdCarrito;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ValidarTarjeta]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- En SQL Server Management Studio

CREATE PROCEDURE [dbo].[SP_ValidarTarjeta]
    @NumeroTarjeta VARCHAR(19),
    @NombreTitular VARCHAR(100),
    @FechaVencimiento VARCHAR(5),
    @CodigoSeguridad VARCHAR(4)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Si existe una fila que coincida con TODOS los parámetros, devuelve 1 (verdadero).
    -- De lo contrario, devuelve 0 (falso).
    IF EXISTS (
        SELECT 1 FROM dbo.TarjetasValidas
        WHERE NumeroTarjeta = @NumeroTarjeta
          AND NombreTitular = @NombreTitular
          AND FechaVencimiento = @FechaVencimiento
          AND CodigoSeguridad = @CodigoSeguridad
    )
        SELECT 1 AS EsValida;
    ELSE
        SELECT 0 AS EsValida;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VerificarCorrupcion]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_VerificarCorrupcion]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ProductosCorruptos BIT = 0;
    DECLARE @LocalidadesCorruptas BIT = 0;

    -- Corrupción en Productos
    IF EXISTS (
        SELECT 1 FROM Productos
        WHERE 
            Nombre = 'XXXXX'
            OR Descripcion = 'XXXXX'
            OR Precio <= 0
            OR Stock < 0
            OR FechaAlta IS NULL
            OR FechaAlta < '2000-01-01'
            OR ImagenUrl IS NULL
            OR ImagenUrl = ''
            OR ImagenUrl = 'XXXXX'
    )
    BEGIN
        SET @ProductosCorruptos = 1;
    END

    -- Corrupción en Localidades
    IF EXISTS (
        SELECT 1 FROM Localidad
        WHERE 
            Nombre IS NULL 
            OR Nombre = ''
            OR Nombre = 'XXXXX'
            OR CostoEnvio < 0
            OR MontoMinimoEnvio < 0
    )
    BEGIN
        SET @LocalidadesCorruptas = 1;
    END

    -- Resultado
    SELECT 
        @ProductosCorruptos AS ProductosCorruptos,
        @LocalidadesCorruptas AS LocalidadesCorruptas;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VerificarToken]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VerificarToken]
@Token NVARCHAR(255),
@Email NVARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
                SELECT TOP 1 Email
                FROM dbo.PasswordResets
                WHERE Token = @Token AND Email = @Email
                  AND (Usado = 0 OR Usado IS NULL)
                  AND ExpiraUtc > SYSUTCDATETIME()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VerificarUsuarioNuevo]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_VerificarUsuarioNuevo]
@Dni int
as
begin
Select 1 from Usuarios where Dni = @Dni
end

GO
/****** Object:  StoredProcedure [dbo].[SP_VerificarUsuarioPorEmail]    Script Date: 22/12/2025 20:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_VerificarUsuarioPorEmail]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

SELECT 1 FROM dbo.Usuarios WHERE Mail = @Email
END
GO
USE [master]
GO
